@use "../helpers" as *;
@use "sass:math";

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  // overflow: hidden;
  // position: fixed;
  @extend %scroll-bar;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Make app take full height and use flex layout */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
}

/* main content should expand to fill available space */
.fill-content {
  flex: 1; /* grow to fill space between header and footer */
}

//for debuging
// * {
//   border: 1px solid #f00;
// }

::selection {
  background-color: $black;
  color: $section_background;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
}

span,
a {
  &.id-color {
    color: $id_color;
  }
  &.id-bold {
    font-weight: 600;
  }
  &.id-color,
  &.id-bold {
    transition: $main_transition;
  }
}

.hover:hover {
  color: $hover_blue;
  text-decoration: underline;
}

.spikes-seperator {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    z-index: 10;
    background-image:
      linear-gradient(135deg, #fff 25%, transparent 25%),
      linear-gradient(220deg, #fff 25%, transparent 25%);
    background-size: 30px 30px;
  }
}

.dots {
  @include breakpoint-down(md) {
    display: none;
  }
  @include breakpoint-up(sm) {
    background-image: url("../../../assets/images/dots.png");
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
  }
}

$dots_dimentions: 180px;

.dots-up {
  top: $dots_dimentions;
  right: 0;
}

.dots-down {
  bottom: $dots_dimentions;
  left: 0;
}

.z-index {
  z-index: 99;
}

abbr {
  text-decoration: underline dotted $id_color;
}
